<h1>Listing plyta</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Rodzaj</th>
      <th>Gatunek</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plyta.each do |plytum| %>
      <tr>
        <td><%= plytum.nazwa %></td>
        <td><%= plytum.rodzaj %></td>
        <td><%= plytum.gatunek %></td>
        <td><%= link_to 'Show', plytum %></td>
        <td><%= link_to 'Edit', edit_plytum_path(plytum) %></td>
        <td><%= link_to 'Destroy', plytum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plytum', new_plytum_path %>
