<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @album.nazwa %>
</p>

<p>
  <strong>Wykonawca:</strong>
  <%= @album.wykonawca %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
